$color-main: #c2185b;
$color-secondary: #1F2A2F;
$color-light: #546E7A;
$color-accent: #b0bec5;
$color-contrast-main: #FCE4EC;
$color-contrast-secondary: #ECEFF1;
$color-alt: #e91e63;

// $color-background
// $color-background-alt
// $color-text
// $color-text-alt
// $color-main
// $color-accent
