<section class="container">
  <h1>Start building an Exquisite Corpse</h1>
  <h2><i>« Le cadavre - exquis - boira - le vin - nouveau »</i></h2>
  <p>An <b>Exquisite corpse</b>, also known as exquisite cadaver (from the original French term cadavre exquis) or rotating corpse,  is an old game in which people write a phrase on a sheet of paper, fold it over to conceal part of it and pass it on to the next player to do the same. The game ends when someone finishes the story, which is then read aloud.</p>
  <p>You can build your own Exquisite Corpse adding verses to a composition in sequence.</p>
</section>
<mat-divider></mat-divider>
