<div style="text-align:center">
  <h1>Start building an Exquisite Corpse</h1>
  <h2><i>« Le cadavre - exquis - boira - le vin - nouveau »</i></h2>
  <p><b>Exquisite corpse</b>, also known as exquisite cadaver (from the original French term cadavre exquis) or rotating corpse, is a method by which a collection of words or images is collectively assembled.</p>
  <p>You can build your own Exquisite Corpse adding verses to a composition in sequence.</p>
</div>
<div>
  <app-verse-list></app-verse-list>
</div>
<div>
  <app-add-verse-form></app-add-verse-form>
</div>
