@import '../sass/_variables.scss';
@import '../sass/_mixins.scss';

span {
  font-size: 18px;
  @include nav-anchor;
  &:hover{
    background-color: darken($color-main, 10%);
  }
}

a.nav-anchor {
  font-size: 16px;
  text-decoration: none;
  @include nav-anchor;
  &:hover {
    text-decoration: underline;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.play-link {
  @include nav-anchor;
  background-color: darken($color-main, 10%);
  a {
    font-weight: bold;
  }
}
