<h3>Add your verse</h3>
<form [formGroup]="addVerseForm">
  <!-- <mat-form-field>
    <input matInput placeholder="Nombre" formControlName="name">
  </mat-form-field> -->
  <mat-form-field>
    <input matInput placeholder="Verse" formControlName="firstVerse">
  </mat-form-field>
  <button mat-button color="primary">ADD <i class="material-icons">add_circle</i></button>
</form>

<!-- <p>{{addVerseForm.value | json}}</p> muestra el valor de los inputs -->
<!-- <p>{{addVerseForm.status | json}}</p> validador -->
<!-- <p>{{addVerseForm.get("name").value}}</p> -->
<p>{{addVerseForm.get("firstVerse").value}}</p>
<!-- <p>{{addVerseForm.get("name").status}}</p> -->
<!-- <p>{{addVerseForm.get("firstVerse").status}}</p> -->
